.navbar .navbar-brand img {
    height: 70px;
}

.navbar,.fancy {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
}

h2,h4 {
    font-family: 'Niconne', cursive;

}
.light-bg{
    background-color: #f5f5f5 !important;
}
/*.amber-text{*/
/*    color: #ffa000 !important;*/
/*}*/

.hover-gold:hover{
    color: #ffc107 !important;
}